__pycache__
*.xml
.aider*
.cursorrules
.env
.git
.python-version
.venv
.vscode
.windsurfrules
frontend/node_modules
frontend/.next
frontend/build
frontend/dist
frontend/.git
deployment/
core/logs/
core/projects/
core/reports/
core/workspace/
core/docs/
core/*.json
*/**/*.duckdb